/* -------------------------- NAVBAR------------------------------------- */
.nav-items{
  display: flex;
}
.mover{
  flex-grow: 1;
}
Link{
  text-decoration: none;
  color: black;
}
.my-navbar{
  background-color: transparent !important;
}

/*------------------------------- ERROR 404 PAGE ---------------------------*/
.error404-img-holder{
  display: flex;
  align-items: center;
  justify-content: center;
}
.error404-img{
  height: 75vh;
  width: 75vw;
}

/*--------------------------------- HOME PAGE-------------------------------- */
.carousel-item img{ 
  height:70vh;
  filter: brightness(155%);
  border: none !important;
  outline: none !important;
}

.home-top-courses{
  margin: 26px;
}

.home-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-courses-title{
  margin: 45px 30px 20px 30px;
}

.homepage-contact{
  width: 93vw;
  color: white;
  font-size: smaller;
  font-weight: 700;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://images.unsplash.com/photo-1499159058454-75067059248a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80");

}

.homepage-newsletter{
  font-size: smaller;
  color: white;
  width: 93vw;
  font-weight: 700;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=341&q=80")
}

.homepage-info{
  margin: 36px;
  padding: 10px;
}

/* ----------------------------TOP COURSES COMPONENT------------------------ */
.top-courses-img{
  filter: brightness(35%);
  height: 100%
}

.top-course-card{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
}


/* --------------------------------NEWSLETTER COMPONENT-------------------------- */
.newsletter-form{
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* ------------------------------FOOTER-------------------------------- */
.my-footer{
  padding: 16px;
  display: flex;
  justify-content: center;

}

.my-footer > span{
  margin: 5px;
  font-size: 18px;
}

.my-footer > p{
  margin-top: 8px;
  font-size: smaller;
  font-weight: 700;
}
