/* -------------------------- NAVBAR------------------------------------- */
.nav-items{
  display: flex;
}
.mover{
  flex-grow: 1;
}
Link{
  text-decoration: none;
  color: black;
}
.my-navbar{
  background-color: transparent !important;
}

/*------------------------------- ERROR 404 PAGE ---------------------------*/
.error404-img-holder{
  display: flex;
  align-items: center;
  justify-content: center;
}
.error404-img{
  height: 75vh;
  width: 75vw;
}

/*--------------------------------- HOME PAGE-------------------------------- */
.carousel-item img{ 
  height:70vh;
  filter: brightness(155%);
  border: none !important;
  outline: none !important;
}

.home-top-courses{
  margin-bottom: 16px;
}

.home-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-courses-title{
  margin: 30px;
}

.homepage-contact{
  
}

/* ----------------------------TOP COURSES COMPONENT------------------------ */
.top-courses-img{
  filter: brightness(35%);
  height: 100%
}

.top-course-card{
  display: flex;
  align-items: center;
  justify-content: center;
}

